 <div class="row">
    <div class="twelve columns">
      <!-- <div id='slider'>
        <div class="slide">Here is the width and height</div>
        <div class="slide">&nbsp;</div>
        <div class="slide">&nbsp;</div>
      </div> -->
      <div id="slider">
        <img src="http://placehold.it/1000x400&text=[img 1]" />
        <img src="http://placehold.it/1000x400&text=[img 2]" />
        <img src="http://placehold.it/1000x400&text=[img 3]" />
        <img src="http://placehold.it/1000x400&text=[img 4]" />
        <div>This is a div</div>
      </div>

      <hr />
    </div>
  </div>